<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="header">
        <h1>Welcome to DJANGO Learning</h1>
        <p> Practice website for students</p>
    </div>
    <hr>
    <div class="section">
        <h2>What is Django?</h2>
        <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. It follows the model-template-view (MTV) architectural pattern and provides an easy-to-use interface for building web applications. Django includes a powerful ORM (Object-Relational Mapping) system, built-in authentication, and an admin interface, making it a popular choice for developers looking to create robust and scalable web applications quickly.</p>
        <br>
        <a href="http://www.djangoproject.com" target="_blank">Visit Django Website</a>
    </div>
    <hr>
    <div class="section">
        <h2>Django Features</h2>
        <table>
            <tr>
                <th>Features</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>ORM</td>
                <td>Database Interaction using python</td>
            </tr>
            <tr>
                <td>Admin Panel</td>
                <td>Automatic admin Interface</td>
            </tr>
            <tr>
                <td>Security</td>
                <td>Protection against attacks</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="section">
        <h2>Django Logo</h2>
        <img src="image.png" width="80px" alt="Django Logo">
    </div>
    <footer>
        <p>&copy; 2026 DJANGO Practice | Created for Classroom Learning</p>
    </footer>
</body>
</html>